<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Resume Tailor{% endblock %}</title>
    <link rel="stylesheet" href="../../../static/css/style.css" />
    {% comment %} <script src="{% static 'tailoring/js/script.js' %}"></script> {% endcomment %}
  </head>
  <body>
    <header>
      <h1>Resume Tailor</h1>
      <nav>
        <!-- Navigation items here -->
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>© 2024 Resume Tailor. All rights reserved.</p>
    </footer>
  </body>
</html>
